html,body {
    height: 100%;
}
body {
    background-color: black;
    background-image: url('bg-0.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
}
