@media only screen and (max-width : 768px)   {
    
	#main-container .bodycontainer .innercontainer{width:100%;}
	.hd_nav li{padding:10px 14px;}
	ul.plan_lst > li.plan_sec > h3{min-height: 90px;}
	ul.plan_lst > li.plan_sec > p.benefit_txt{height: 110px;}
	
	li.review_det:nth-child(2n+1) > div.review_bubble::before{left:-47px; top: 200px;}

	li.review_det:nth-child(2n) > div.review_bubble{top:95px;}
	
	section.termPlan, section.planType, section.whyPnb, section.faq, section.reviews{float:left; width:100%;}
	.bnr_cnr .bnr{display:none;}
	.quickQuote{height:auto;}
	.bnr_cnr .quote_foam{float:left; position:relative; height:auto;}
	
	.bnr_cnr nav.bnr_nav {
    clear: both;
    display: table;
    float: none;
    margin-top: 20px;
}
.bnr_cnr nav.bnr_nav a {
    display: table-cell;
    margin: 0;
    padding: 15px 1%;
    text-align: center;
    vertical-align: middle;
    width: 25%;
}
.btn1{float:left; margin:15px 0 35px 0;}
.onExpand{width:100%;}
.onExpand .fields_cnt {
    height: auto;
    padding-right: 30px;
    width: 300px;
}
.onExpand .fields_cnt:last-child{padding-right:0;}
 

  .track_app{height:auto; z-index:1; padding:1%;}
  .trackapp_img{display:none;}
  .trackapp_data{float:left; width:100%; margin:0; padding:0;}
  .track_app > .trackapp_cont{padding:20px 0px; width:100%; float:left; margin:0;}
  .track_app .trackappcontinue_form{position:relative;}
  
  .age li{width:100%; float:left;}
  
 
}

@media only screen and (max-width : 760px)   
{
    #main-container .container{width:96%;}
    #main-container .footercontainer{float:left;}
    #main-container .bodycontainer .innercontainer{display:inline-block;}
  
    #main-container .footercontainer ul{display:inline;}
    #main-container .footercontainer ul li.footerL{width:100%; display: inline-block; padding:0;}
    #main-container .footercontainer ul li.footerR{display:inline; float:left; margin-top:10px; width:100%;}
    #main-container .footercontainer .disclaimertext{width:100%; padding:40px 0 0 0;}
    #main-container .footercontainer .disclaimertext span{left:0;}    
    #main-container .header_container .container .logo{position:relative; width:100%; margin-bottom:15px; text-align:center;}
    #main-container .header_container .container .logo span{position:absolute; right:0;}
    #main-container .header_container .container .head_right .toplink, #main-container .header_container .container .head_right{float: left;text-align: center;width: 100%;}
    #main-container .header_container .container .head_right .tollfree{margin:0 auto; width:206px; float:none;}
}

@media only screen and (max-width : 700px)   {
    .productBanner1, .productBanner2, .productBanner3, .productBanner4{display:none; height:auto;}
    .product_upperPortion{height:auto; margin-top:20px;}
    .product_upperPortion > input{top:0;}
}

@media only screen and (max-width : 640px)   {
.bnr_cnr .bnr{display:none;}

.bnr_cnr .quote_foam{float:left; position:relative; left:0; height:auto; padding:10px 0 30px 0; width:100%;}
.quote_cnt{height:auto; float:left; width:100%;}
.quickQuote{width:100%; padding:10px 0 0 0; float:left; height:auto;}
.quote_foam .quickQuote > .fields_cnt{width:100%; padding:0px 0 0 0; float:left; height:auto;}

.onExpand{width:100%; padding:0; float:left; height:auto;}
.onExpand .fields_cnt {float: left;height: auto;padding: 0;width: 48%;margin-right:4%;}
.onExpand .fields_cnt:last-child{margin-right:0;}

.btn1{float:left; width:100%; margin-top:10px;}
.quote_foam .quickQuote .fields_cnt ul li.label, .quote_foam .quickQuote .fields_cnt ul.child li.label{width:100%;border-bottom:none;padding:0 0 7px 0; height:auto;}
.quote_foam .quickQuote .fields_cnt ul li, .quote_foam .quickQuote .fields_cnt ul.child li{float:left; display:inline-block; width:100%; height:45px;}
.quote_foam .quickQuote .fields_cnt ul, .quote_foam .quickQuote .fields_cnt ul{padding:0px 0 10px 0; float:left;}
  
  
 
  ul.plan_lst > li.plan_sec > h3{font-size:15px; min-height: 80px;}
  ul.plan_lst > li.plan_sec > p.benefit_txt{height: 120px;}
  .plan_sec .full_lump{width:120px; height:120px;}
  section.termPlan ul.plan_lst li .buttonbox button.GetQuoteButton{font-size:13px; padding:9px 15px;}
  
 
  
  li.faq_sec div.faq_que p{font-size:15px;}
  section.faq ul.faq_lst li.faq_sec div.faq_detail{height:86%; padding:6.5%;}
  
  .HeloTanyPopup{top:5%;}
  
  
  
}
@media only screen and (min-width : 500px) and (max-width : 800px)   {

}

@media only screen and (min-width : 480px) and (max-width : 480px)   {
  
}


@media only screen and (max-width : 600px)   {
    
    .HeloTanyPopup, .ConfirmBox1{background-image:none; background-color:#fff; border:5px solid #000; padding:2%; width:90%; position:absolute; top:70%; left:0; right:0; margin:auto;}
    .ConfirmBox1 ul li .text{padding-left:0;}
    .ConfirmBox1 ul li .heloradio{padding-left:0; text-align:center; width:100%;}
    
    .quote_foam .quickQuote .fields_cnt ul li .details i{display:none;}
    input[type="text"]{width:96%; padding:0 2%;}
    .formerrormsg{bottom:0; margin:0;}
    .bnr_cnr nav.bnr_nav a{margin:0; width:86%; padding:15px 2%; text-align:left; display:inline-block;}
    
    .track_app{position:relative; float:left; border:1px solid #0069bc; width:96%;}
    .trackapp_data .trackapp_info{width:100%; float:left; margin:0;  padding:0;}
    .trackapp_data{height:auto;}
    .btn_submit {float: left;margin: 10px 0 0 0;text-align: center;width: 100%;}
    .trackapp_cont .closeBttn{right:-10px; top:-14px; background-color:#fff;}
    .track_app .trackappcontinue_form{bottom:0; float:left;}
    .track_app > .trackapp_cont{padding:0;}
}


@media only screen and (max-width : 480px)   {
  
  
    
  ul.plan_lst > li.plan_sec > h3{font-size:18px; min-height:auto; margin-bottom:10px;}
  .hd_nav li{padding:10px 0; width:100%; text-align:center;}
  ul.planType_lst li{width:100%; display:inline-block; border:0; margin-bottom:8px;}
  section.planType ul.planType_lst li.planType{min-height:0;}
  ul.planType_lst li{height:auto;}
  
  .onExpand, .onExpand .fields_cnt{width:100%; padding:0; float:left; height:auto;}
  
  
  section.termPlan ul.plan_lst li {display:inline-block; padding:10px 2%; width:95%; height:auto; margin-bottom:5px;}
  ul.plan_lst > li.plan_sec > p.benefit_txt{width:100%; text-align:center; height:auto;}
  section.termPlan ul.plan_lst li .buttonbox{margin-top:10px;}
  
  .fgt_pwd{margin:0;}
  section.whyPnb ul.whyPnb_lst li.whyPnb_det{margin:0 0 0 0; width:100%; display:inline-block;}
  ul.whyPnb_lst li.whyPnb_det div.bluLeaf, ul.review_lst > li.review_det > div.review_bubble{height:auto;;}
  li.whyPnb_det div.bluLeaf p{height:80px; width:96%; padding:10px 2%; display:inline-block;}
  ul.whyPnb_lst li.whyPnb_det div.blueStruct1, ul.whyPnb_lst > li.whyPnb_det > div.blueStruct3{border-radius: 0 0 0 45px;}
  ul.whyPnb_lst > li.whyPnb_det > div.blueStruct2, ul.whyPnb_lst > li.whyPnb_det > div.blueStruct4{border-radius: 0 45px 0 0;}
 section.faq ul.faq_lst li.faq_sec{width:100%; height:auto;}
 ul.faq_lst li.faq_sec div.faq_que{width:100%; margin:0 0 8px 0; height:auto; float:left;}
 li.faq_sec div.faq_que p{width:94%; height:auto; padding:8px 3%; display:inline-block;}
 li.faq_sec div.faq_que:hover p{font-weight:normal;}
 
 section.planType .cnt_fixed > h2, section.faq .cnt_fixed > h2, .quote_foam > .quote_cnt > h2, section.termPlan > h2, section.whyPnb .cnt_fixed > h2, section.faq > h2, section.reviews .cnt_fixed > h2, .track_app > .trackapp_cont > h2{font-weight:bold; font-size:30px;}
 
ul.review_lst > li.review_det{margin:0 0 0 0; width:100%; display:inline-block; padding:0; border:none;}
li.review_det:nth-child(2n) > div.rew_cust{margin:5px 0;}
li.review_det:nth-child(2n+1) > div.rew_cust{display:inline;float:left; margin:5px 0;}
li.review_det:nth-child(2n+1) > div.rew_cust p{display:inline;float:left; margin:0; padding:0;}
li.review_det:nth-child(2n+1) > div.review_bubble::before{content:normal;}
li.review_det:nth-child(2n) > div.review_bubble::before{content:normal; right:auto; top:auto;}
li.review_det:nth-child(2n) > div.review_bubble{position:relative; top:auto;}
ul.review_lst > li.review_det > div.review_bubble{float:left; height:auto; width:100%; border-radius:0; margin-bottom:5px;}
ul.review_lst > li.review_det > div.review_bubble p{float:left; height:auto; width:96%; padding:10px 2%;}
section.faq ul.faq_lst li.faq_sec div.faq_detail{height: auto;width: 88%; z-index:100; float:left; position:relative; margin-bottom:12px;margin-top: -7px;}
li.faq_sec div.faq_que p{font-size:18px;}

.benefit ol > li {
    display: inline-block;
    float: left;
    margin: 0 0 10px 7%;
    min-height: auto;
    padding: 0 0 10px 0;
    width: 93%;
	border-left:none;
	border-bottom:1px solid #ddd;
}
.benefit ol > li::before{left:-20px; top:-4px;}
.benefit ol.secondslide > li::before{top:-4px;}

.tabs a{font-size:13px;}
.feat_itms_cnt li{width:100%; float:left;}
.life-stage li{margin-left:5%; width:95%;}


.age li .tab2-container div{display:inline-block; width:100%; text-align:center; float:left;}
.age li .tab2-container div.tab2-left{padding-bottom:2px; }
.age li .tab2-container div.tab2-right{padding-bottom:10px; padding-top:2px;}

 
  
  
  
  
 
  
  
  
 
  

}

@media only screen and (max-width : 400px)   {

#main-container .header_container .container .logo img {width: 100%;}
#main-container .header_container .container .head_right .toplink br{display:block;}
	
}

@media only screen and (max-width : 340px)   {
	
/*#main-container .bodycontainer .innercontainer .leftpanel .form_fields select.dobselct{width:94px;}
#main-container .bodycontainer .innercontainer .leftpanel .form_fields input.fname[type="text"], #main-container .bodycontainer .innercontainer .leftpanel .form_fields input.lname[type="text"]{width:74px;}*/
/*#main-container .bodycontainer .innercontainer .leftpanel .form_fields input[type="text"]{width:272px;}
#main-container .bodycontainer .innercontainer .leftpanel .form_fields select{width:294px;}*/
	
}

