<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="https://yellowmessenger.com/images/favicon/favicon-32x32.png">
    <link rel="stylesheet" href="/style/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="box">   
            <img src="/error.png" style="width: 100px; height:100px" />
            <h3>404 Not Found</h3>    
        </div>
    </div>
    {{>footer}}    
    {{!-- <script src="/js/bot.js"></script> --}}
</body>

</html>