.ms-layer.video-box, .ms-view {
	background:#FFF
}
.master-slider {
	position:relative;
	visibility:hidden;
	-moz-transform:translate3d(0, 0, 0);
	height:100%;
	margin-bottom:100px !important;
}
.master-slider.ms-fullheight {
	height:100%
}
.master-slider img {
	max-width:none
}
.ms-ie img {
	border:none
}
.ms-ie8 * {
	opacity:inherit;
	filter:inherit
}
.ms-ie7 {
	zoom:1
}
.ms-loading-container {
	position:absolute;
	width:100%;
	top:0
}
.ms-loading-container .ms-loading, .ms-slide .ms-slide-loading {
	width:36px;
	height:36px;
	border-radius:60px;
	box-shadow:0 0 3px rgba(0,0,0,.2);
	position:absolute;
	left:50%;
	top:50%;
	margin:-18px;
	opacity:.9
}
.ms-view, .ms-view .ms-slide-container {
	position:relative
}
.ms-def-cursor, .ms-grab-cursor, .ms-grabbing-cursor, .ms-ie .ms-grab-cursor, .ms-ie .ms-grabbing-cursor {
	cursor:move!important
}
.ms-view {
	margin:0 auto;
	overflow:hidden;
	-webkit-perspective:2000px;
	-moz-perspective:2000px;
	-ms-perspective:2000px;
	perspective:2000px
}
.ms-slide {
	position:absolute;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-ms-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0);
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d
}
.ms-slide .ms-slide-bgcont, .ms-slide .ms-slide-bgvideocont {
	position:absolute;
	overflow:hidden;
	width:100%
}
.ms-slide .ms-slide-bgvideocont {
	z-index:5;
	height:100%
}
.ms-slide .ms-slide-bgvideocont, .ms-slide-bgvideocont>video {
	-webkit-transform:translateZ(.3px);
	-moz-transform:translateZ(.3px);
	-ms-transform:translateZ(.3px);
	-o-transform:translateZ(.3px);
	transform:translateZ(.3px)
}
.ms-slide .ms-slide-bgvideo {
	position:absolute;
	top:0
}
.ms-container {
	position:relative;
	margin:0 auto
}
.ms-container, .ms-slide .ms-slide-bgcont img {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	height:auto;
	margin-top:0!important
}
.ms-slide .ms-layer {
	position:absolute
}
.ms-slide .ms-slide-video {
	position:absolute;
	top:0;
	z-index:11;
	background:#000;
	padding:0;
	margin:0;
	border:none
}
.ms-layer.video-box iframe {
	padding:0;
	margin:0;
	border:none;
	position:absolute;
	z-index:10
}
.ms-slide .ms-slide-vpbtn, .ms-slide .ms-video-btn {
	position:absolute;
	cursor:pointer;
	z-index:10
}
.ms-slide .ms-slide-vcbtn {
	position:absolute;
	cursor:pointer;
	z-index:13
}
.ms-slide-vcbtn-mobile {
	position:relative;
	bottom:0;
	left:0;
	width:100%;
	height:28px;
	background-color:#000;
	color:#fff;
	text-align:center;
	cursor:pointer;
	z-index:13
}
.ms-slide-vcbtn-mobile .ms-vcbtn-txt {
	text-transform:uppercase;
	font-family:sans-serif;
	font-size:.75em;
	display:inline-block;
	background:url(http://www.godrejaer.com/img/close.png) 0 3px no-repeat;
	padding-left:15px;
	height:15px;
	color:#DBDBDB;
	margin-top:7px
}
.ms-slide .ms-slide-layers, .ms-video-img {
	height:100%;
	top:0;
	position:absolute;
	width:100%
}
.ms-slide .ms-slide-layers, .ms-slide .ms-slide-vcbtn, .ms-slide .ms-slide-video, .ms-slide .ms-slide-vpbtn {
	-webkit-transform:translateZ(.44px);
	-moz-transform:translateZ(.44px);
	-ms-transform:translateZ(.44px);
	-o-transform:translateZ(.44px);
	transform:translateZ(.44px)
}
.ms-slide .ms-slide-layers {
	overflow:hidden;
	/*z-index:109*/
}
.ms-video-img {
	left:0
}
.ms-mask-frame {
	overflow:hidden;
	position:absolute;
	float:left
}
.ms-bullet {
	cursor:pointer;
	float:left
}
.ms-sbar .ms-bar {
	-webkit-transition:opacity .3s;
	-moz-transition:opacity .3s;
	-ms-transition:opacity .3s;
	-o-transition:opacity .3s;
	transition:opacity .3s
}
.ms-ie7 .ms-tooltip-arrow {
	height:0
}
.ms-skin-default .ms-slide .ms-slide-vpbtn, .ms-skin-default .ms-video-btn {
	width:70px;
	height:70px;
	background:url(../img/Shape-10.png) no-repeat;
	top:50%;
	left:50%;
	margin:-35px 0 0 -35px
}
.ms-skin-default .ms-slide .ms-slide-vcbtn {
	width:30px;
	height:30px;
	background:url(../img/light-skin-1.png) -24px -28px no-repeat;
	top:18px;
	right:30px
}

.ms-bullets.ms-dir-h {
    position: absolute;
    bottom: 20px;
    right: 50%;
    width: 126px;
	/*margin-right:-63px;*/
}
.ms-bullets-count {
    position: relative;
    right:0;
}
.ms-bullet {
    width: 15px;
    height: 15px;
    background:#cfd1d4;
	border-radius:15px;
    margin:4px;
	cursor:pointer;
	float:left;
}
.ms-bullet-selected {
    background:#808080;
}
.ms-skin-default .ms-sbar {
	position:absolute
}
.ms-skin-default .ms-sbar.ms-dir-h {
	left:10px;
	right:10px;
	top:5px
}
.ms-skin-default .ms-sbar .ms-bar {
	height:4px;
	background:#D0F;
	border-radius:4px
}
.ms-skin-default .ms-tooltip {
	position:absolute;
	z-index:110;
	cursor:auto;
	max-width:200px
}
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-top .ms-tooltip-arrow {
	border-left:solid 10px transparent;
	border-right:solid 10px transparent;
	position:absolute;
	left:50%;
	margin-left:-10px
}
.ms-skin-default .ms-tooltip-top .ms-tooltip-arrow {
	border-top:solid 10px;
	border-top-color:silver;
	border-top-color:rgba(240,240,240,.88);
	bottom:-10px
}
.ms-skin-default .ms-tooltip-bottom .ms-tooltip-arrow {
	border-bottom:solid 10px;
	border-bottom-color:silver;
	border-bottom-color:rgba(240,240,240,.88);
	top:-10px
}
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow, .ms-skin-default .ms-tooltip-right .ms-tooltip-arrow {
	border-top:solid 10px transparent;
	border-bottom:solid 10px transparent;
	position:absolute;
	top:50%;
	margin-top:-10px
}
.ms-skin-default .ms-tooltip-right .ms-tooltip-arrow {
	border-right:solid 10px;
	border-right-color:silver;
	border-right-color:rgba(240,240,240,.88);
	left:-10px
}
.ms-skin-default .ms-tooltip-left .ms-tooltip-arrow {
	border-left:solid 10px;
	border-left-color:silver;
	border-left-color:rgba(240,240,240,.88);
	right:-10px
}
@keyframes point-anim {
0% {
transform:scale(.5);
-webkit-transform:scale(.5);
-moz-transform:scale(.5);
-o-transform:scale(.5);
-ms-transform:scale(.5);
opacity:1
}
100% {
transform:scale(.5);
-webkit-transform:scale(.5);
-moz-transform:scale(1.5);
-o-transform:scale(1.5);
-ms-transform:scale(1.5);
opacity:0
}
}
@-webkit-keyframes point-anim {
0% {
-webkit-transform:scale(.5);
opacity:1
}
100% {
-webkit-transform:scale(1.5);
opacity:0
}
}
.ms-skin-default .ms-tooltip-point {
	cursor:pointer
}
.ms-skin-default .ms-tooltip-point .ms-point-center {
	width:12px;
	height:12px;
	border-radius:15px;
	border:2px solid #BBB;
	background:#fff;
	margin:-8px 0 0 -8px;
	position:absolute;
	z-index:5
}
.ms-skin-default .ms-tooltip-point .ms-point-border {
	width:22px;
	height:22px;
	background:#000;
	background:rgba(0,0,0,.36);
	margin:-11px 0 0 -11px;
	position:absolute;
	border-radius:15px;
	animation:point-anim 1.5s infinite;
	-moz-animation:point-anim 1.5s infinite;
	-webkit-animation:point-anim 1.5s infinite;
	-o-animation:point-anim 1.5s infinite
}
.ms-android.ms-skin-default .ms-tooltip-point .ms-point-border {
	animation:none;
	-moz-animation:none;
	-webkit-animation:none;
	-o-animation:none
}
.ms-skin-default .ms-tooltip-cont {
	padding:10px;
	background:silver;
	background:rgba(240,240,240,.88);
	text-shadow:0 1px 0 #fff;
	margin-left:-1px
}

.ms-label{
	background:#4d4d4f;
	padding:7px 20px 10px;
	border-radius:20px;
	font-family:'HelveticaNeueLTStd-Thin',sans-serif;
	font-size:17px;
	color:#FFF;
}
.ms-title{
	font-family:'HelveticaNeueLTStd-Lt',sans-serif;
	font-size:24px;
	line-height:1.4;
}


@media all and (max-width:480px) {

}

.ms-tabs-template {
	margin:50px auto;
	width:800px;
	overflow:hidden;
    padding-bottom: 101px;
}

.ms-tabs-vertical-template {
	/*max-width: 921px;*/
	padding-right: 219px;
	margin: 0 auto;
	padding-bottom:0 !important;
}

.ms-tabs-template .ms-thumb-list.ms-dir-h {
	bottom: -160px;
	width: 100%;
	height: 160px;
}

.ms-tabs-template .ms-thumb-list.ms-dir-v {
	height: 100%;
	width: 229px;
	right: -221px;
	top: 0;
}

.ms-tabs-template .ms-thumb-frame {
	cursor: pointer;
	float: left;

	background-color:#d5196f;
	font-family: "Helvetica Neue",'Helvetica-Neue', sans-serif;
	color: #222;
	position: relative;
	overflow: visible;
	-webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-thumb-list.ms-dir-h .ms-thumb-frame {
	width: 200px;
	height: auto;
	margin:0;
}

.ms-thumb-list.ms-dir-v .ms-thumb-frame {
	width: 214px;
	height: 100px;
	margin-left: 12px;
}

.ms-tabs-template .ms-thumb{
	padding: 20px 20px;
}

.ms-tabs-template .ms-thumb-frame h3 {
	font-weight:400;
	font-size:14px;
	margin:0;
}
.ms-tabs-template .ms-thumb-frame-selected {
	opacity: 1; 
	background: #EDEDED;
}

.ms-tabs-template .ms-thumb-frame-selected h3{
	color:#FFF;
}

.ms-tabs-template .ms-thumb-frame .ms-thumb-ol {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.ms-tabs-template .ms-thumb-list.ms-dir-h .ms-thumb-frame .ms-thumb-ol {
	top: 0;
    left: 50%;
    margin-left: -10px;
	border-bottom: solid 10px #F6f6f6;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.ms-tabs-template .ms-thumb-list.ms-dir-h .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	top:0;
	border-bottom-color:#FFF;
}

.ms-tabs-template .ms-thumb-list.ms-dir-v .ms-thumb-frame .ms-thumb-ol {
	top: 50%;
    left: 0;
    margin-top:0;
    border-right: solid 10px #EDEDED;
    border-top: solid 10px transparent;
    border-bottom: solid 10px transparent;
}

.ms-tabs-template .ms-thumb-list.ms-dir-v .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	left:-12px;
	border-right-color:white;
}

/* Layers */
.ms-layer.video-title {
    font-family: "Helvetica Neue",'Helvetica-Neue',sans-serif;
    color:#5bc1dc;
    font-size: 20px;
	text-shadow:0 1px 0 #999;
    margin:15px 0 0 20px;
}

.ms-layer.video-title.video-top-title {
    font-size: 16px;
    color: gray;
}

.ms-layer.video-title.video-sub-title {
    font-size: 22px;
    font-weight: 300;
}
.ms-thumb-list{
	overflow:hidden;
	position:absolute;
}

.ms-thumb-list.ms-dir-h {width: 100%;}
.ms-thumb-list.ms-dir-v {height: 100%; top: 0;}
.ms-thumbs-cont{position: relative;}
.ms-thumb-frame img{width:100%;	height:auto;}
.ms-thumb-frame{
	cursor: pointer;
	float: left;
	overflow: hidden;
	opacity: 0.5;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}
.ms-thumb-frame-selected{ opacity: 1; }

.ms-tabs .ms-thumb-frame {
	background-color: #F6f6f6;
	color: #222;
	overflow: visible;
	border:1px solid #FFF;
	border-width:0 1px 0 0;
	position: relative;
	opacity: 1;
	-webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-tabs.ms-has-thumb .ms-tab-thumb{ width:auto; }
.ms-tabs.ms-dir-v .ms-thumb-frame {margin-left: 12px;}
.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame {margin-left: 0px;}
.ms-tabs.ms-dir-h.ms-align-top {z-index: 140;} 
.ms-tabs.ms-dir-h.ms-align-top  .ms-thumb-frame{margin-top: -12px;} 
.ms-tabs .ms-thumb{height:140px;padding:10px;}
.ms-tabs .ms-thumb-frame-selected {	opacity: 1; background:#d5196f;}
.ms-tabs .ms-thumb-frame .ms-thumb-ol {
    position: absolute;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.ms-tabs.ms-dir-h .ms-thumb-frame .ms-thumb-ol {
	top: 0px;
    left: 50%;
    margin-left: -12px;
	border-bottom: solid 12px #F6f6f6;
    border-left: solid 12px transparent;
    border-right: solid 12px transparent;
}

.ms-tabs.ms-dir-h.ms-align-bottom .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	top:-12px;
	border-bottom-color: #EDEDED;
}

.ms-tabs.ms-dir-h.ms-align-top .ms-thumb-frame .ms-thumb-ol {
	bottom: 0px;
	top:auto;
	border-bottom:0px;
	border-top: solid 12px #F6f6f6;
}

.ms-tabs.ms-dir-h.ms-align-top .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	bottom:-12px;
	border-top-color: #EDEDED;
}

.ms-tabs.ms-dir-v .ms-thumb-frame .ms-thumb-ol {
	top: 50%;
    left: 0;
    margin-top: -12px;
    border-right: solid 12px #EDEDED;
    border-top: solid 12px transparent;
    border-bottom: solid 12px transparent;
}

.ms-tabs.ms-dir-v.ms-align-right .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	left:-12px;
	border-right-color:#EDEDED;
}

.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame .ms-thumb-ol {
    left: auto;
    right: 0;
    border-right: 0;
    border-left: solid 12px #EDEDED;
}

.ms-tabs.ms-dir-v.ms-align-left .ms-thumb-frame-selected .ms-thumb-ol{
	opacity: 1;
	right:-12px;
	border-left-color:#EDEDED;
}

.ms-thumb-alt {
	text-align: center;
	margin: 5px;
	font-size: 14px;
	font-weight: 600; 
}

/* horizontal thumblist arrows*/
.ms-thumb-list.ms-dir-h .ms-thumblist-fwd, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd {
    height: 100%;
    width: 20px;
    position: absolute;
    left: 0;
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
    text-align: center;
    color: white;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd {
    right: 0;
    left: auto;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after {
  content: close-quote;
  top: 43%;
  position: relative;
  border: solid rgba(0, 0, 0, 0);
  border-width: 5px 5px 5px 0px;
  display: block;
  border-right-color: #FFF;
  width: 6px;
  height: 1px;
}

.ms-thumb-list.ms-dir-h .ms-thumblist-bwd:after {
  border-width: 5px 0px 5px 5px;
  border-left-color: #FFF;
  left: 7px;
}

/* vertical thumblist arrows */
.ms-thumb-list.ms-dir-v .ms-thumblist-fwd, .ms-thumb-list.ms-dir-v .ms-thumblist-bwd {
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: rgba(128, 128, 128, 0.5);
    text-align: center;
    color: white;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-bwd {
    bottom: 0;
    top: auto;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-fwd:after, .ms-thumb-list.ms-dir-v .ms-thumblist-bwd:after {
  content: close-quote;
  left: 43%;
  position: relative;
  border: solid rgba(0, 0, 0, 0);
  border-width: 0px 5px 5px 5px;
  display: block;
  border-bottom-color: #FFF;
  height: 1px;
  top: 5px;
  width: 0;
}

.ms-thumb-list.ms-dir-v .ms-thumblist-bwd:after {
  border-width: 5px 5px 0px 5px;
  border-top-color: #FFF;
  top: 7px;
}

/* Thumb in tab styles */
.ms-tabs.ms-dir-v.ms-has-thumb .ms-thumbs-cont{ top:0 !important; }
.ms-tabs.ms-has-thumb .ms-thumb-frame{ height: auto !important; }
.ms-tabs.ms-has-thumb .ms-thumb{ padding:0; }
.ms-tabs.ms-has-thumb .ms-tab-context{ padding:20px; }
.ms-tabs.ms-align-left  .ms-tab-thumb{ float:left;  margin-right:20px; }
.ms-tabs.ms-align-right .ms-tab-thumb{ float:right; margin-left: 20px; }

.ms-bullet{cursor:pointer;float: left;}
.ms-bullets.ms-dir-h {
	position: absolute;
	bottom: 20px;
	right: 50%;
	width: 100px;
}

.ms-bullets.ms-dir-v {
	position: absolute;
	top:50%;
}

.ms-bullets.ms-dir-v .ms-bullet{
	float: none;
}
.ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}

.ms-sbar {position: absolute;}
.ms-sbar.ms-dir-h {
	left: 10px;
	right: 10px;
	top: 5px
}

.ms-sbar .ms-bar {
	height: 4px;
	background: #333;
	border-radius: 4px;
}

.ms-sbar .ms-bar{
	position:relative;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}

.ms-ie7 .ms-tooltip-arrow{
	height:0px;
}

.ms-skin-default .ms-nav-next,
.ms-skin-default .ms-nav-prev {
	width: 30px;
	background: url(../img/light-skin-1.png);
	background-position: -89px -26px;
	height: 40px;
	cursor: pointer;
	top: 50%;
	left: 30px;
	margin-top: -20px;
	position: absolute;
	z-index: 110;
}
.ms-skin-default .ms-nav-next {
	right: 30px;
	left: auto;
	background-position: -89px -103px;
}


/* Staff carousel css */
.master-slider{
	-moz-transform:translate3d(0,0,1px);
}
.ms-staff-carousel{
	max-width: 880px;
    overflow: hidden;
	margin: 25px auto;
	position: relative;
}
.ms-staff-carousel .ms-container{width:300px;}
.ms-staff-carousel .ms-view{
	overflow:visible;
	background-color: transparent;
}

.ms-staff-carousel .ms-nav-prev,
.ms-staff-carousel .ms-nav-next {
    background: url(../img/staff-arrows.png) white no-repeat -7px -57px;
    width: 35px;
    height: 40px;
    left: -35px;
    margin-top: -17px;
    box-shadow: 0px 1px 0px 0px rgb(190, 190, 190);
    position: absolute;
    top:50%;
    cursor: pointer;
}

.ms-staff-carousel .ms-nav-next {
	background-position: -6px -7px;
	right:-35px;
	left:auto;
}

.ms-staff-carousel .ms-staff-info{
	text-align: center;
	margin:0 auto;
	max-width: 470px;
	margin-top:30px;
}
.ms-staff-carousel .ms-staff-info h3{margin-bottom:15px;}
.ms-staff-carousel .ms-staff-info p{font-family:'HelveticaNeueLTStd-Lt',sans-serif;font-size:17px;line-height:1.5;letter-spacing:1px;}
.aerShowLink{width:300px;height:300px;display:block;}	

