/* Slider */
#slider  {width:730px; height:302px;position: absolute;}
.slider-item { width:730px; !important; display:block; clear:both; height:302px;}
.slider-item img { float:right; margin:0; padding:0 0 0 0;}
.slider-item .text_item {width:100px;height:40px; float:right; margin:-50px 10px 10px 0; padding:0 0 0 15px;background:url(../../../maybank_gif/facelift/translucent.png) top left repeat;}
.slider-item .text_item h2  a{ display:none; font:normal 25px Verdana,Tahoma,Arial,sans-serif; color:#FFFFFF; padding:5px 0; margin:0; line-height:1.2em; width:500px;text-decoration:none;}
.slider-item .text_item h2 { display:none;padding:12px 0 0 0;}
.slider-item .text_item p { font:normal 12px Verdana,Tahoma,Arial,sans-serif; color:#fff2f4; padding:0 0 20px 0; margin:0; line-height:1.8em;}
.slider-item .text_item img { margin:10px auto; padding:0; float:left;}
.slider-item  .item_right{ float:right;}
.slider-item  .item_right h2 { float:right; display:block;width:400px; padding-right:5px;text-align:right;}
.slider-item  .item_right p{ float:right; display:block; width:400px; padding-right:5px;text-align:right;}
.slider-item .item_right img {float:right; display:block; padding-right:5px;}
.slider_content_inner img { border:none; }
.controls-center { width:auto; margin:0 auto; padding:0;}
/* #slider_controls { margin:0;z-index:1000; width:140px;position:absolute;padding:264px 0 0 620px;} */
#slider_controls { margin:0;z-index:1000; width:120px;position:absolute;padding:0 0 0 620px;top:270px;}
#slider_controls h2 { width:200px; float:left; font:normal 11px Verdana,Tahoma,Arial,sans-serif; color:#676767; padding:30px 0 0 0; margin:0;}
#slider_controls ul { margin:0 0 0 0; padding:0; width:120px;text-align:right;}
#slider_controls ul li { margin:0; padding:0; list-style:none; }
#slider_controls ul li { text-align:center;display:block;float:left;}
#slider_controls ul li a { width:10px; height:10px; background:url('../../../maybank_gif/facelift/tab_2-new.png') no-repeat center center; display:block; float:left; padding:10px 5px 0 2px; margin:2px !important; margin:1px 1px; outline:none; }
#slider_controls ul li a:focus { outline:none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { color:#979797; background:url('../../../maybank_gif/facelift/tab_1-new.png') no-repeat center center; }
