body {
	font-family: sans-serif;
}
::-moz-selection {
	background: #1064ad;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #1064ad;
	color: #fff;
	text-shadow: none;
}
a:link {
	-webkit-tap-highlight-color: #1064ad;
}
html {
	overflow-y: scroll; /* This will keep scrollbar on-screen even when there is nowhere to go */
}

@font-face {
    font-family: 'interstate';
    src: url('http://www.oreo.com/fonts/interstate-regular-webfont.eot');
    src: url('http://www.oreo.com/fonts/interstate-regular-webfont.eot?') format('embedded-opentype'),
         url('http://www.oreo.com/fonts/interstate-regular-webfont.woff') format('woff'),
         url('http://www.oreo.com/fonts/interstate-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoblack';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoblack-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoblack-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoblack-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoblack-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoblack-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutobold';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutobold-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutobold-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutobold-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutobold-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutobold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoextralight';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoextralight-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoextralight-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoextralight-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoextralight-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoextralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoheavy';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoheavy-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoheavy-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoheavy-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoheavy-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoheavy-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutolight';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutolight-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutolight-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutolight-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutolight-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutolight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutomedium';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutomedium-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutomedium-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutomedium-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutomedium-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutomedium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutoregular';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoregular-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutoregular-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoregular-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoregular-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutoregular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutothin';
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutothin-webfont.eot');
    src: url('http://www.oreo.com/fonts/hvd_fonts_-_plutothin-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutothin-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutothin-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/hvd_fonts_-_plutothin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OreoSansUpperLight';
    src: url('http://www.oreo.com/fonts/oreosansupper-light_V2-webfont.eot');
    src: url('http://www.oreo.com/fonts/oreosansupper-light_V2-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/oreosansupper-light_V2-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/oreosansupper-light_V2-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/oreosansupper-light_V2-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OreoSansUpperMedium';
    src: url('http://www.oreo.com/fonts/oreosansupper-medium_V2-webfont.eot');
    src: url('http://www.oreo.com/fonts/oreosansupper-medium_V2-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/oreosansupper-medium_V2-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/oreosansupper-medium_V2-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/oreosansupper-medium_V2-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OreoSansUpperBold';
    src: url('http://www.oreo.com/fonts/oreosansupper-bold_V2-webfont.eot');
    src: url('http://www.oreo.com/fonts/oreosansupper-bold_V2-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/oreosansupper-bold_V2-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/oreosansupper-bold_V2-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/oreosansupper-bold_V2-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OreoSansUpperBlack';
    src: url('http://www.oreo.com/fonts/oreosansupper-black_V2-webfont.eot');
    src: url('http://www.oreo.com/fonts/oreosansupper-black_V2-webfont.eot?') format('embedded-opentype'),
    url('http://www.oreo.com/fonts/oreosansupper-black_V2-webfont.woff') format('woff'),
    url('http://www.oreo.com/fonts/oreosansupper-black_V2-webfont.ttf') format('truetype'),
    url('http://www.oreo.com/fonts/oreosansupper-black_V2-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}