/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('https://www.essaroil.co.in/font/flexslider-icon.eot');
	src:url('https://www.essaroil.co.in/font/flexslider-icon.eot?') format('embedded-opentype'),
		url('https://www.essaroil.co.in/font/flexslider-icon.woff') format('woff'),
		url('https://www.essaroil.co.in/font/flexslider-icon.ttf') format('truetype'),
		url('https://www.essaroil.co.in/font/flexslider-icon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider { margin:0 auto; padding:0; max-width:1200px; }
.flexslider .slides > li {display:none; padding:0; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position:relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display:block; font-size:0; width:30px; opacity:0.4; height:30px; margin-top:-24px; position:absolute; top:50%; z-index:10; overflow:hidden; cursor:pointer;
	background:url(../images/banner-arw.png);background-size:cover; -webkit-transition:all .3s ease; -moz-transition:all .3s ease; transition:all .3s ease; }
.flex-direction-nav .flex-prev { left:10px; }
.flex-direction-nav .flex-next { right:10px; background-position:-30px 0; }
.flexslider:hover .flex-prev,
.flexslider:hover .flex-next { opacity:0.7; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

.flex-direction-nav a.flex-next:before  { content: '\f002'; }

.box .slides .details { padding-top:7px; }
.box .slides .name { color:#000; margin-bottom:7px; }
.box .flex-direction-nav a  { width:25px; height:25px; top:50%; background-size:50px auto; }
.box .flex-direction-nav .flex-next { background-position:-25px 0; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav { position:absolute; bottom:13px; right:13px; text-align:center; display:none; }
.flex-control-nav li { margin:0 4px; display:inline-block; zoom:1; *display:inline;}
.flex-control-paging li a { width:12px; height:12px; display: block; background:#fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4); -moz-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.4); -o-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4); box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4); }
.flex-control-paging li a:hover { background:#ccc; background:rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background:#bdd944; cursor:default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}






/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
