@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'bupaquantamediumregular';
    src: url('buqmed_0-webfont.eot');
    src: url('buqmed_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('buqmed_0-webfont.woff') format('woff'),
         url('buqmed_0-webfont.ttf') format('truetype'),
         url('buqmed_0-webfont.svg#bupaquantamediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, hr, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; }
textarea:focus, input:focus, select:focus { outline: none; }
body { padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#616060; font-style:normal; top center repeat-x; }
img { border: 0; }
.clr { clear: both; margin: 0; padding: 0; }
.left { float: left }
.right { float: right }
p { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #4c4c4c; margin: 0px; padding-bottom: 10px }
a { color: #232323; text-decoration: underline; }
a:hover { color: #232323; text-decoration: none; }
h1 { color:#00aeef; font-weight:bold; font-family: Arial, Helvetica, sans-serif; font-size:18px; padding-bottom:15px; }
h2 { color:#767676; font-weight:bold; font-family: Arial, Helvetica, sans-serif ; font-size:15px;  padding-bottom:15px;}

h3 { color:#1d94e6; font-weight:normal; font-family: Arial, Helvetica, sans-serif ; font-size:18px;  padding-bottom:10px;}
h4 { color:#7cc518; font-weight:normal; font-family: Arial, Helvetica, sans-serif ; font-size:18px;  padding-bottom:10px;}

#toparea { width:1020px; margin:0 auto; position:relative; height:440px; }
#contarea{ width:1020px; margin:0 auto; position:relative; padding-bottom:20px; }



#header{width:1020px; height:74px; margin:auto; padding-top:15px;}
.maxbupa{ float:left; margin:0px;}
.maxlogo{ float:right; margin:0px;padding-right:55px;}


#toptxt { width:265px; position:absolute; left:0px; top:0; }
#formarea { width:295px; height:387px; position:absolute; right:0; top:0px; }
#formcont { position: absolute; width: 268px; height: 370px; right: 0; top: 5px; z-index: 9999; }
.txtbg { background:url(../images/txt-bg.png) left top no-repeat; width:208px; height:30px; display:block; }

.formbg{ padding:20px 20px 10px 20px; margin:0;  border-left:2px solid #fff; border-right:2px solid #fff; background:#6fc13b; color:#fff;}
.h7 { font-family: 'bupaquantamediumregular', Arial,Helvetica,sans-serif; font-size:13px; color:#fff; font-weight:normal;  }
.h3 { font-family: 'bupaquantamediumregular',Arial; font-size:20px; color:#fff; font-weight:bold;  }
.textboxmax { width:168px; height:16px; border:none; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8d; padding-top:5px; padding-bottom:5px; padding-left:5px; margin-bottom:3px; background-color:#fff; margin-left: }
.dropboxmax{ width:175px; border: none; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8d; background-color:transparent; padding-top:6px; padding-left:3px; padding-bottom:6px; background-color:#fff; padding-right:5px; margin-bottom:3px; }


.footertxt { width:980px; padding:20px; margin:0 auto; background:#ebebeb; }
.footertxt p{font-size:13px; font-weight:bold; color:#929292;}

.boxmain{ padding-top:20px;}
.conbox{ background:#f2f8ec; padding:10px;}
.box{ width:330px; height:135px; float:left; font-size:13px; color:#767676;  font-weight:bold;}


















