<header>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <svg width="168px" height="30px" viewBox="0 0 168 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 54 (76480) - https://sketchapp.com -->
        <title>Group 22</title>
        <desc>Created with Sketch.</desc>
        <defs>
            <polygon id="path-1" points="0 0.238515789 12.3185922 0.238515789 12.3185922 18.3157895 0 18.3157895">
            </polygon>
        </defs>
        <g id="Updated" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Footer" transform="translate(-215.000000, -27.000000)">
                <g id="Group-22" transform="translate(215.000000, 27.000000)">
                    <path
                        d="M36.1213765,8.9532 L36.1213765,3.23930526 L30.296438,3.23930526 L30.296438,1.73993684 C30.296438,0.780252632 31.0698011,-6.31578947e-05 32.0205497,-6.31578947e-05 L39.3302704,-6.31578947e-05 L39.3302704,7.18509474 C39.3302704,8.16025263 38.5447061,8.9532 37.5792536,8.9532 L36.1213765,8.9532 Z"
                        class="Fill-1" fill="#181818"></path>
                    <g id="Group-5" transform="translate(0.000000, 11.422958)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <g id="Clip-4"></g>
                        <path
                            d="M3.41490503,0.238515789 L5.64082682,6.90293684 C5.89360894,7.66872632 6.14670391,8.61325263 6.32346369,9.32851579 L6.39948603,9.32851579 C6.60189944,8.61325263 6.82965363,7.69430526 7.05740782,6.87704211 L8.97955307,0.238515789 L12.3185922,0.238515789 L9.2323352,8.71588421 C7.53763128,13.3620947 6.39948603,15.4305158 4.93253631,16.7069368 C3.71836872,17.8049368 2.45351955,18.2132526 1.6692067,18.3158842 L0.96122905,15.6604105 C1.49244693,15.5325158 2.15005587,15.2517789 2.78263687,14.7919895 C3.36391061,14.4086211 4.04717318,13.6687263 4.47702793,12.8262 C4.60373184,12.5966211 4.67944134,12.4175684 4.67944134,12.2644105 C4.67944134,12.1365158 4.65410056,11.9574632 4.50236872,11.6517789 L-0.000156424581,0.238515789 L3.41490503,0.238515789 Z"
                            class="Fill-3" fill="#181818" mask="url(#mask-2)"></path>
                    </g>
                    <path
                        d="M20.3875665,16.5639158 C20.4129073,15.4150737 19.9067173,13.5253895 17.8325274,13.5253895 C15.9103821,13.5253895 15.1010413,15.2871789 14.9743374,16.5639158 L20.3875665,16.5639158 Z M14.9743374,18.7596 C15.0503598,21.0064421 16.7957453,21.9771789 18.7685721,21.9771789 C20.2104939,21.9771789 21.2475888,21.7725474 22.1836335,21.4150737 L22.6385162,23.5854947 C21.5763933,24.0193895 20.1091307,24.3765474 18.3387173,24.3765474 C14.3420693,24.3765474 11.9897564,21.8742316 11.9897564,18.0699158 C11.9897564,14.6233895 14.0639464,11.3808632 18.0096,11.3808632 C22.0315888,11.3808632 23.3217788,14.7001263 23.3217788,17.4317053 C23.3217788,18.0187579 23.2710972,18.4782316 23.2204156,18.7596 L14.9743374,18.7596 Z"
                        class="Fill-6" fill="#181818"></path>
                    <polygon class="Fill-8" fill="#181818"
                        points="24.8136313 24.0959053 27.9496313 24.0959053 27.9496313 5.96769474 24.8136313 5.96769474">
                    </polygon>
                    <polygon class="Fill-10" fill="#181818"
                        points="30.3016313 24.0959053 33.438257 24.0959053 33.438257 5.96769474 30.3016313 5.96769474">
                    </polygon>
                    <path
                        d="M38.2187486,17.8918421 C38.2187486,20.2915263 39.3822346,22.1041579 41.279352,22.1041579 C43.0497654,22.1041579 44.2895866,20.343 44.2895866,17.8403684 C44.2895866,15.8998421 43.4292514,13.6785789 41.3046927,13.6785789 C39.1037989,13.6785789 38.2187486,15.8237368 38.2187486,17.8918421 M47.5016089,17.7639474 C47.5016089,22.3337368 44.3146145,24.3765789 41.1779888,24.3765789 C37.6872179,24.3765789 35.0061006,21.9513158 35.0061006,17.9679474 C35.0061006,13.8832105 37.6621899,11.3808947 41.3804022,11.3808947 C45.0482458,11.3808947 47.5016089,13.9848947 47.5016089,17.7639474"
                        class="Fill-11" fill="#181818"></path>
                    <path
                        d="M50.7137877,11.6614737 L52.0039777,17.3043158 C52.2821006,18.6315789 52.5602235,19.9850526 52.7876648,21.3382105 L52.8386592,21.3382105 C53.0917542,19.9850526 53.496581,18.6063158 53.8504134,17.3298947 L55.444067,11.6614737 L57.9734525,11.6614737 L59.5164246,17.1767368 C59.8959106,18.6315789 60.2244022,19.9850526 60.502838,21.3382105 L60.5532067,21.3382105 C60.7556201,19.9850526 61.0340559,18.6315789 61.3628603,17.1767368 L62.7287598,11.6614737 L65.7893631,11.6614737 L61.919419,24.096 L59.0355754,24.096 L57.5686257,19.0402105 C57.1891397,17.7385263 56.9110168,16.5637895 56.632581,15.0577895 L56.5822123,15.0577895 C56.3294302,16.5890526 56.0003128,17.8146316 55.6464804,19.0402105 L54.0778547,24.096 L51.1689832,24.096 L47.5264804,11.6614737 L50.7137877,11.6614737 Z"
                        class="Fill-12" fill="#181818"></path>
                    <path
                        d="M67.1546994,14.7762 C67.1546994,13.6532526 67.1293587,12.8107263 67.0536492,11.8403053 L68.1921073,11.8403053 L68.2678168,13.9848316 L68.3184983,13.9848316 C69.1024983,12.5811474 70.2659844,11.5595684 72.2644648,11.5595684 C73.9335151,11.5595684 75.223705,12.6828316 75.7549229,14.2153579 L75.8056045,14.2153579 C76.1344089,13.4997789 76.5896045,12.9379895 77.0451128,12.5555684 C77.8291128,11.9167263 78.6387665,11.5595684 79.9286436,11.5595684 C81.1171575,11.5595684 83.8999508,12.2233579 83.8999508,16.8705158 L83.8999508,24.0960947 L82.6857832,24.0960947 L82.6857832,16.9722 C82.6857832,14.2153579 81.6233475,12.5811474 79.5241296,12.5811474 C78.0061855,12.5811474 76.8173587,13.7296737 76.3368223,15.0067263 C76.2354592,15.3635684 76.1344089,15.7722 76.1344089,16.2323053 L76.1344089,24.0960947 L74.9202413,24.0960947 L74.9202413,16.4104105 C74.9202413,14.2153579 73.8831464,12.5811474 71.9100067,12.5811474 C70.2913251,12.5811474 69.001448,13.9084105 68.5459397,15.3379895 C68.4448894,15.6957789 68.368867,16.1044105 68.368867,16.5383053 L68.368867,24.0960947 L67.1546994,24.0960947 L67.1546994,14.7762 Z"
                        class="Fill-13" fill="#181818"></path>
                    <path
                        d="M94.775714,16.8704526 C94.8010547,15.1595053 94.0927642,12.5810842 91.158552,12.5810842 C88.4771218,12.5810842 87.3389765,14.9807684 87.1112223,16.8704526 L94.775714,16.8704526 Z M87.0355128,17.8402421 C87.0355128,21.7465579 89.1600715,23.3043474 91.6644291,23.3043474 C93.4348425,23.3043474 94.3455464,22.9465579 95.0284961,22.6149789 L95.3319598,23.5595053 C94.8764514,23.8152947 93.6372559,24.3508737 91.5123844,24.3508737 C88.0219263,24.3508737 85.8463732,21.7980316 85.8463732,18.1977158 C85.8463732,14.1126632 88.1736581,11.5598211 91.3099709,11.5598211 C95.2812782,11.5598211 96.0402503,15.3379263 96.0402503,17.1003474 C96.0402503,17.4316105 96.0402503,17.6106632 95.9898816,17.8402421 L87.0355128,17.8402421 Z"
                        class="Fill-14" fill="#181818"></path>
                    <path
                        d="M97.6076872,22.4871158 C98.2656089,22.8957474 99.2520223,23.3296421 100.339486,23.3296421 C102.261944,23.3296421 103.172648,22.2831158 103.172648,21.0066947 C103.172648,19.6529053 102.362994,18.9385895 100.617922,18.2233263 C98.6194413,17.4578526 97.5316648,16.3595368 97.5316648,14.8788 C97.5316648,13.0914316 98.922905,11.5595368 101.275531,11.5595368 C102.388335,11.5595368 103.349721,11.8911158 103.956648,12.3250105 L103.501453,13.3213263 C103.071285,13.0150105 102.287285,12.5811158 101.07343,12.5811158 C99.5301453,12.5811158 98.7208045,13.5761684 98.7208045,14.7000632 C98.7208045,15.9764842 99.5808268,16.5126947 101.224849,17.2020632 C103.197676,17.9937474 104.361475,18.9894316 104.361475,20.8532211 C104.361475,22.9465895 102.74248,24.3509053 100.263777,24.3509053 C99.1002905,24.3509053 97.9871732,24.0196421 97.1778324,23.5083789 L97.6076872,22.4871158 Z"
                        class="Fill-15" fill="#181818"></path>
                    <path
                        d="M106.030337,22.4871158 C106.688259,22.8957474 107.674673,23.3296421 108.762136,23.3296421 C110.684594,23.3296421 111.595298,22.2831158 111.595298,21.0066947 C111.595298,19.6529053 110.785645,18.9385895 109.040572,18.2233263 C107.042092,17.4578526 105.954315,16.3595368 105.954315,14.8788 C105.954315,13.0914316 107.345868,11.5595368 109.698494,11.5595368 C110.810985,11.5595368 111.772371,11.8911158 112.379298,12.3250105 L111.924103,13.3213263 C111.493935,13.0150105 110.709935,12.5811158 109.49608,12.5811158 C107.952796,12.5811158 107.143455,13.5761684 107.143455,14.7000632 C107.143455,15.9764842 108.003477,16.5126947 109.647499,17.2020632 C111.620326,17.9937474 112.784125,18.9894316 112.784125,20.8532211 C112.784125,22.9465895 111.165444,24.3509053 108.686427,24.3509053 C107.522941,24.3509053 106.409823,24.0196421 105.600483,23.5083789 L106.030337,22.4871158 Z"
                        class="Fill-16" fill="#181818"></path>
                    <path
                        d="M122.876076,16.8704526 C122.901417,15.1595053 122.192813,12.5810842 119.258601,12.5810842 C116.577484,12.5810842 115.439339,14.9807684 115.211584,16.8704526 L122.876076,16.8704526 Z M115.135875,17.8402421 C115.135875,21.7465579 117.260434,23.3043474 119.764791,23.3043474 C121.535204,23.3043474 122.445908,22.9465579 123.128858,22.6149789 L123.432322,23.5595053 C122.976813,23.8152947 121.737618,24.3508737 119.612746,24.3508737 C116.122288,24.3508737 113.946735,21.7980316 113.946735,18.1977158 C113.946735,14.1126632 116.273707,11.5598211 119.410333,11.5598211 C123.38164,11.5598211 124.140612,15.3379263 124.140612,17.1003474 C124.140612,17.4316105 124.140612,17.6106632 124.090244,17.8402421 L115.135875,17.8402421 Z"
                        class="Fill-17" fill="#181818"></path>
                    <path
                        d="M126.214302,14.7762 C126.214302,13.6532526 126.188961,12.8107263 126.112939,11.8403053 L127.251397,11.8403053 L127.327106,14.0363053 L127.378101,14.0363053 C128.035397,12.6575684 129.578369,11.5595684 131.551508,11.5595684 C132.715307,11.5595684 135.800939,12.1472526 135.800939,16.7426211 L135.800939,24.0960947 L134.586771,24.0960947 L134.586771,16.8443053 C134.586771,14.5984105 133.727061,12.5811474 131.222704,12.5811474 C129.528,12.5811474 128.06105,13.8067263 127.580201,15.4150421 C127.504492,15.6957789 127.428469,16.1044105 127.428469,16.4874632 L127.428469,24.0960947 L126.214302,24.0960947 L126.214302,14.7762 Z"
                        class="Fill-18" fill="#181818"></path>
                    <path
                        d="M147.233385,16.5639158 C147.233385,16.1044421 147.208045,15.7213895 147.081966,15.3636 C146.575464,13.9084421 145.310927,12.5811789 143.31276,12.5811789 C140.732693,12.5811789 138.961966,14.7001263 138.961966,17.9426526 C138.961966,20.6998105 140.403888,23.0745474 143.262391,23.0745474 C144.881073,23.0745474 146.398704,22.0532842 147.030972,20.3173895 C147.157363,19.9090737 147.233385,19.4489684 147.233385,19.0150737 L147.233385,16.5639158 Z M148.447553,22.3084421 C148.447553,25.4492842 147.789631,27.0061263 146.777877,27.9768632 C145.665385,29.0489684 144.020737,29.4320211 142.655151,29.4320211 C141.263911,29.4320211 139.720939,29.0742316 138.785207,28.3599158 L139.215061,27.3894947 C140.075084,27.9516 141.263911,28.4107579 142.832223,28.4107579 C145.38695,28.4107579 147.233385,27.0834947 147.233385,23.4576 L147.233385,21.7210737 L147.182704,21.7210737 C146.550436,22.9722316 145.133855,24.0961263 142.958615,24.0961263 C139.897698,24.0961263 137.747799,21.4150737 137.747799,18.0699158 C137.747799,13.8067579 140.530592,11.5596 143.211709,11.5596 C145.614704,11.5596 146.803531,12.8868632 147.309408,13.9084421 L147.359777,13.9084421 L147.435799,11.8403368 L148.548916,11.8403368 C148.472581,12.7592842 148.447553,13.7293895 148.447553,15.0067579 L148.447553,22.3084421 Z"
                        class="Fill-19" fill="#181818"></path>
                    <path
                        d="M159.424898,16.8704526 C159.450552,15.1595053 158.742261,12.5810842 155.808049,12.5810842 C153.126619,12.5810842 151.988474,14.9807684 151.76072,16.8704526 L159.424898,16.8704526 Z M151.68501,17.8402421 C151.68501,21.7465579 153.809569,23.3043474 156.313926,23.3043474 C158.08434,23.3043474 158.995044,22.9465579 159.677993,22.6149789 L159.981457,23.5595053 C159.526261,23.8152947 158.286753,24.3508737 156.161882,24.3508737 C152.671423,24.3508737 150.49587,21.7980316 150.49587,18.1977158 C150.49587,14.1126632 152.823155,11.5598211 155.959468,11.5598211 C159.931088,11.5598211 160.689747,15.3379263 160.689747,17.1003474 C160.689747,17.4316105 160.689747,17.6106632 160.639066,17.8402421 L151.68501,17.8402421 Z"
                        class="Fill-20" fill="#181818"></path>
                    <path
                        d="M162.737908,15.5169474 C162.737908,14.2913684 162.712568,13.0405263 162.636545,11.8402105 L163.749663,11.8402105 L163.800344,14.3169474 L163.876054,14.3169474 C164.407272,12.7594737 165.672121,11.5597895 167.316143,11.5597895 C167.493216,11.5597895 167.670288,11.5853684 167.82202,11.6106316 L167.82202,12.7594737 C167.64526,12.7338947 167.468188,12.7338947 167.240434,12.7338947 C165.570758,12.7338947 164.381931,14.1896842 164.053126,16.1551579 C163.977104,16.5126316 163.952076,16.9212632 163.952076,17.3298947 L163.952076,24.096 L162.737908,24.096 L162.737908,15.5169474 Z"
                        class="Fill-21" fill="#181818"></path>
                </g>
            </g>
        </g>
    </svg>
</header>