.speed-carousel img {
    padding: 0 15px;
}
.customNavigation a, .owl-controls {
	-webkit-tap-highlight-color: transparent
}
.customNavigation a.next-bpLabs:hover, .customNavigation a.next-services:hover, .customNavigation a.next:hover, .customNavigation a.prev-bpLabs:hover, .customNavigation a.prev-services:hover, .customNavigation a.prev:hover, .inner-carousel-wrap .customNavigation a.next:hover, .inner-carousel-wrap .customNavigation a.prev:hover {
	opacity: .7
}
.customNewNavigation a.prev {
    left: -15px;
    background: url(../images/bg_direction_nav.png) top left no-repeat;
}
.customNewNavigation a.next {
    right: -15px;
    background: url(../images/bg_direction_nav.png) top right no-repeat;
}
.customNewNavigation {
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	z-index: 100
}
.customNewNavigation a.next, 
.customNewNavigation a.next-bpLabs, 
.customNewNavigation a.next-services, 
.customNewNavigation a.prev, 
.customNewNavigation a.prev-bpLabs, 
.customNewNavigation a.prev-services
 {
	position: absolute;
	top: 41%;
	height: 34px;
	width: 22px;
	font-size: 0;
	cursor: pointer
}
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.owl-carousel, .owl-carousel .owl-wrapper {
	position: relative;
	display: none
}
.owl-carousel {
	width: 100%;
	-ms-touch-action: pan-y
}
.owl-carousel .owl-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%
}
.owl-carousel .owl-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out
}
.owl-carousel .owl-item {
	float: left
}
.owl-controls .owl-buttons div, .owl-controls .owl-page {
	cursor: pointer
}
.grabbing {
	cursor: url("https://www.bharatpetroleum.com/images/grabbing.png") 8 8, move
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}
#owl-demo .item {
	margin: 0;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center
}
#owl-bpLabs .item {
	margin: 10px;
	color: #FFF;
	text-align: center
}
.customNavigation {
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	z-index: 100
}
.customNavigation a.next, 
.customNavigation a.next-bpLabs, 
.customNavigation a.next-services, 
.customNavigation a.prev, 
.customNavigation a.prev-bpLabs, 
.customNavigation a.prev-services
 {
	position: absolute;
	top: 41%;
	height: 34px;
	width: 22px;
	font-size: 0;
	cursor: pointer
}


.inner-carousel-wrap .customNavigation a.prev, 
.inner-carousel-wrap .customNavigation a.next,
 {
	position: absolute;
	top: 41%;
	height: 34px;
	width: 22px;
	font-size: 0;
	cursor: pointer
}

.customNavigation a.prev {
	left: -30px;
	background: url(../images/bg_direction_nav.png) top left no-repeat
}
.customNavigation a.next {
	right: -30px;
	background: url(../images/bg_direction_nav.png) top right no-repeat
}
.customNavigation a.prev-bpLabs {
	left: -30px;
	background: url(../images/bg_direction_nav.png) top left no-repeat
}
.customNavigation a.next-bpLabs {
	right: -30px;
	background: url(../images/bg_direction_nav.png) top right no-repeat
}
.customNavigation a.prev-services {
	left: -30px;
	background: url(../images/bg_direction_nav_white.png) top left no-repeat
}
.customNavigation a.next-services {
	right: -30px;
	background: url(../images/bg_direction_nav_white.png) top right no-repeat
}
.inner-carousel-wrap .customNavigation a.prev {
	left: -30px;
	background: url(../images/bg_direction_nav_white.png) top left no-repeat
}
.inner-carousel-wrap .customNavigation a.next {
	right: -30px;
	background: url(../images/bg_direction_nav_white.png) top right no-repeat
}


.carousel-wrap-bpLabs .customNavigation a.next-bpLabs, .carousel-wrap-bpLabs .customNavigation a.prev-bpLabs {
	/*display: none!important*/
}
@media (max-width:600px) {
.carousel-wrap-bpLabs .customNavigation a.next-bpLabs, .carousel-wrap-bpLabs .customNavigation a.prev-bpLabs {
	display: block!important
}
}
