ul.dropdown li{padding:0}
ul.dropdown .dir{padding-right:30px;background-image:none;background-position:100% 50%;background-repeat:no-repeat}
ul.dropdown ul .dir{padding-right:15px}
ul.dropdown-vertical-rtl .dir{padding-right:15px}
ul.dropdown{font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:400;color:#666;text-align:left}
ul.dropdown li{color:#666}
ul.dropdown a:link,ul.dropdown a:visited{color:#666;font-weight:700;line-height:30px;text-align:center;text-decoration:none}
ul.dropdown li ul li a:link,ul.dropdown li ul li a:visited{text-align:left!important;font-weight:400!important;line-height:1!important}
ul.dropdown li ul li a:hover{font-weight:700!important;font-family:Arial,Helvetica,sans-serif}
ul.dropdown a:hover{font-weight:700;font-family:Arial,Helvetica,sans-serif}
ul.dropdown ul a.dir:hover{color:#666;font-weight:700}
ul.dropdown a:active{color:#666}
ul.dropdown ul{left:0;right:0;width:165px;margin-top:0;font-family:Arial,Helvetica,sans-serif;font-size:12px;border-bottom:2px solid #e6e6e6;background-image:url(https://www.godrejproperties.com/css/themes/mtv.com/images/bottom.png);background-repeat:no-repeat;background-position:bottom}
ul.dropdown ul.projectlist{width:250px}
ul.dropdown ul li{border-left:2px solid #e6e6e6;border-right:2px solid #e6e6e6;background-color:#fff;padding-left:6px}
ul.dropdown ul ul{top:0;right:auto;left:100%;margin-top:0;border-top:none;border-left:none;font-weight:400;border-top:1px solid #e6e6e6}
ul.dropdown ul ul li{border-left:2px solid #e6e6e6;border-right:2px solid #e6e6e6}
ul.dropdown ul ul ul li{background-color:#fff}
ul.dropdown ul li a,ul.dropdown ul .dir{border-color:#4a4a4a #242424 #242424;border-left:none}
ul.dropdown ul ul li a,ul.dropdown ul ul .dir{border-color:#595959 #333 #333}
ul.dropdown ul ul ul li a,ul.dropdown ul ul ul .dir{border-color:#767676 #404040 #404040}
#n-movies{width:250px;text-align:center}
#n-movies ul{right:auto;left:0;width:249px;text-align:left}
#n-movies ul ul{left:249px;width:150px}
#n-movies ul a{width:232px}
#n-movies ul a.dir{width:210px}
#n-movies ul ul a{width:133px}
#n-movies ul ul a.dir{width:135px}
#n-movies ul ul ul{left:100%}	